:root {
    --primary-color: #8EDCE6;
    --secondary-color: #D5DCF9;
    --accent1-color: #A7B0CA;
    --accent2-color: #725E54;
    --accent3-color: #443627;
    --heading-font: "Spectral", Helvetica, sans-serif;
    --paragraph-font: "Merriweather", Helvetica, sans-serif;
  }