header {
    background-color: bisque;
}
#header-content {
    height: 75px;
}
nav {
    line-height: 4em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    display: flex;

}

nav a{
    padding:0em;
    min-width: 120px;
    text-decoration: none;
    padding: 0px;
}

nav a:hover {
    font-weight: 900;
    color: #000;
    background-color: #000;    

}

nav a:link, nav a:visited {
    color: blueviolet;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px;
}
#main {
    background-color: cadetblue;
    grid-column: 1/6;
}
#aside {
    background-color: burlywood;
    grid-column: 6/8;
}

footer {
    background-color: bisque;
    height: 75px;
}