:root {
    --honeydew: #ebfbe7ff;
    --pistachio: #9ac96fff;
    --fern-green: #477652ff;
    --ecru: #a6a073ff;
    --paynes-gray: #50627fff;
    --old-rose: #b27676ff;
    --rich-black: #031517ff;


    /* change the values below to your colors from your palette */
    --primary-color: #50627fff;
    --secondary-color: #477652ff ;
    --accent1-color: #a6a073ff;
    --accent2-color: #9ac96fff;
    --accent3-color: #b27676ff;

    /* change the values below to your chosen font(s) */
    --heading-font: Spectral, sans-serif;
    --paragraph-font: Merriweather, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #50627fff;  /* headlines on a white background */ 
    --headline-color-on-color: #ebfbe7ff; /* headlines on a colored background */ 
    --paragraph-color-on-white: #50627fff; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #ebfbe7ff; /* paragraph text on a colored background */ 
    --paragraph-background-color: #50627fff;
    --nav-link-color: #ebfbe7ff;
    --nav-background-color: #031517ff;
    --nav-hover-link-color: #ebfbe7ff;
    --nav-hover-background-color: #b27676ff;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 

}
header {
    background-color: var(--headline-color-on-white);
    font-family: var(--heading-font);
    text-align: center;

}
#header-content {
    height: 75px;
}
nav {
    display: flex;
    line-height: 4em;
    font-size: 1.2em;
    background-color: var(--nav-background-color);
    justify-content: center;
    text-align: center;
}

nav a{
    padding:0em;
    min-width: 120px;
    text-decoration: none;
    padding: 0px;
    display: block;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
    background-color: var(--nav-hover-background-color);   
}

nav a:link, nav a:visited {
    color: blueviolet;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px;
    text-align: center;
    font-family: var(--paragraph-font);
    background-color: var(--headline-color-on-white);
}

#main-content-body {
    background-color: var(--primary-color);
    grid-column: 1/6;
    grid-row: 1/2;
    font-family: var(--paragraph-font);
    max-width: 1600px;
}

#main-content {
    grid-column: 1/4;
    grid-row: 1/2;
    border-radius: 10px;
    max-width: 1600px;
}
.card {
    border: 5px solid black;
    margin: 5px;
}
img[src*="images/me_on_bridge.jpg"] {
    width: 350px;
    height: auto;
    grid-column: 4/6;
    grid-row: 1/2;
    margin: auto;
    border-radius: 10px;
    border: 4px solid var(--rich-black);
    padding: 5px;
    background-color: var(--fern-green);
}

/* img[src*="images/usaflag.png"] {
    width: 200px;
    height: auto;
    grid-column: 3/4;
    grid-row: 1/2;
    margin: auto;
    border-radius: 10px;
    border: 4px solid var(--rich-black);
    padding: 5px;
    z-index: 2;
} */

#aside-content-body {
    grid-column: 6/8;
    grid-row: 1/2;
    font-family: var(--paragraph-font);
    z-index: 1;
}
#aside-content h2{
    text-align: center;
}
#aside-content {
    grid-column: 6/8;
    grid-row: 1/2;
    border-radius: 10px;
    z-index: 2;
    background-color: var(--ecru);
    text-align: left;
}


footer {
    background-color: var(--secondary-color);
    height: 100px;
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: large;
    color: var(--rich-black);

}