* {
    font-family: montserrat, sans-serif;
    color: #333;
}
header {
    text-align: center;
    font-weight: bolder;
    background-color: #FFFFFF;
    border-bottom: #0036A7 solid 15px;
    border-left: #333 solid 5px;
    border-right: #333 solid 5px;
    border-top: #333 solid 5px;
}
main {
    display: grid;
    background-color: #D62718;
    text-align: center;
    border-left: #333 solid 5px;
    border-right: #333 solid 5px;
}


img[src*="images/large-hero.webp"] {
    display: none;
}

img[src*="images/mobile-hero.webp"] {
    max-width: 100%;
    background-position: center center;

}
/* Footer */
footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 200px;
    background-color: #D62718;
    text-align: center;
    font-size: larger;
    border: #333 solid 5px;
}
#footer-text {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    justify-content: center;
}



/* Hiding logo for mobile */
img[src*="images/logo-static.png"] {
    display: none;
}
img[src*="images/logo-gif.gif"] {
    display: none;
}

